{{define "index"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
        <title>Home</title>
        {{ template "_header"}}
    </head>
    <body>

    {{ template "_nav"}}

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title" id="surah" data-numofayah="{{ .Data.NumberOfAyahs }}">Surah : {{ .Data.Name }}, Name : {{ .Data.EnglishName }}, Total Ayat : {{ .Data.NumberOfAyahs }}</h5>
            </div>
        </div>
        <br/>
        <center>
            <audio id="audio" controls>
                <source id="audiosrc" src="https://cdn.alquran.cloud/media/audio/ayah/ar.alafasy/1">
            </audio>
        </center>
        <br/>
        {{ range $key, $val := .Data.Ayahs }}
            <div class="card">
                <div class="card-body" style="text-align: right;" id="ayah{{ $key }}" data-audio="{{ $val.Audio }}">
                    <h5 class="card-title">({{ $val.NumberInSurah }}) {{ $val.Text }}</h5>
                </div>
            </div>
        {{ end }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
        $(function () {
            var n = 0;
            var firstAyah = $("#ayah0").data("audio")
            $("#audiosrc").attr("src", firstAyah)
            $("#audio").get(0).load()

            $("#audio").on("play", function () {
                $("#ayah"+n).css("color", "aqua")
            })

            $("#audio").on("ended", function () {
                let numOfAyah = $("#surah").data("numofayah")
                $("#ayah"+n).css("color", "black")
                n = n+1
                if (n == numOfAyah) {
                    $("#audio").get(0).pause()
                    $("#audio").get(0).load()
                    $("#audiosrc").attr("src", firstAyah)
                    n = 0
                    return
                }
                $("#audiosrc").attr("src", $("#ayah"+n).data("audio"))
                $("#audio").get(0).load()
                $("#audio").get(0).play()
            });
        })
    </script>
    </body>
    </html>
{{end}}