{{define "index"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
        <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Al-Qur'an</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">JUZ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SURAH</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br/>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">Surah : {{ .Data.Name }}, Name : {{ .Data.EnglishName }}, Total Ayat : {{ .Data.NumberOfAyahs }}</h5>
            </div>
        </div>
        <br/>
        {{ range $key, $val := .Data.Ayahs }}
            <div class="card">
                <div class="card-body" style="text-align: right">
                    <h5 class="card-title">({{ $val.NumberInSurah }}) {{ $val.Text }}</h5>
                </div>
            </div>
        {{ end }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
{{end}}