{{define "surah"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
    <title>Surah</title>
    {{ template "_header"}}
</head>
<body>

    {{ template "_nav"}}

    <div class="container">
        {{ range $key, $val := .Data }}
            <div class="card">
                <div class="card-header">
                    <a href="/surah/{{ $val.Number }}" style="text-decoration: none; color: black;">
                        <strong>
                            <p class="card-title">Surah : {{ $val.Name }}, Name : {{ $val.EnglishName }}</p>
                        </strong>
                    </a>
                </div>
            </div>
            <br/>
        {{ end }}
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{{end}}